button {
  width: 250px;
  height: 80px;
  font-size: 35px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: aliceblue;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer; /* para imitar caracteristicas de boton */
}

.button-click {
  background-color: lightcoral;
}

.button-click:hover {
  background-color: rgb(
    81,
    206,
    164
  ); /* cuando el mouse esta encima del botón*/
}

.button-restart {
  background-color: rgb(102, 52, 146);
}
.button-restart:hover {
  background-color: rgb(0, 225, 255);
}
